body {
width:100%;
height:100%;
}
.big-box {
width:100%;
min-height:80%;
max-height:100%;
padding-top:2%;
padding-bottom:2%;
}
a:hover, a:focus, a {
color:rgb(25,25,25);
}
.staffmusic {
background:url('../music-staff.svg');
background-repeat: repeat-x;
}
.placeholder {
min-height:200px;
max-height:300px;
width:auto;
}
footer, #section-contacts, #section-notes {
padding-bottom:5%;
padding-top:5%;
} 
#section-notes object {
height:100%;
}

